.calendar {
  margin-top: 50px;

  &__header {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    &--right {
      display: flex;
      background-color: #e6f0fd;
      border-radius: 2px;
      color: #9a9ebb;
      padding: 0.5rem;
      &__item {
        cursor: pointer;
        border-radius: 0.3rem;
        text-align: center;
        width: 7.5rem;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > p {
          font-size: 1.4rem;
          margin: 0;
          width: 100%;
        }

        &:not(:last-child)::after {
          content: "";
          display: block;
          width: 0.2rem;
          height: 2rem;
          border-right: 2px solid grey;
        }
        &::after {
          transform: translateX(1rem);
        }
      }

      &__item-active {
        background-color: #fff;
        text-align: center;
        color: black;
        border: 1px solid white !important;
        font-weight: bold;
        z-index: 1;
        &:not(:last-child)::after {
          content: "";
          border: none;
        }
      }
    }
    &--left {
      font-size: 2rem;
      display: flex;
      align-items: center;
      & > p {
        margin: 0px 2rem;
      }
      & > :not(p) {
        cursor: pointer;
      }
    }
  }
  &__main {
    margin-top: 2rem;
  }
  &__row--header {
    background-color: #eaf3fe;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: grid;
    width: 60%;
    margin: auto;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding: 1rem 0;
    font-size: 1.6rem;
  }
}
